/* stylelint-disable */

.card {
    --card-title-color-light: var(--gray-darker-color);
    --card-title-color-dark: #000000;
    --card-title-line-height: 130%;
    --card-info-title-line-height: 120%;
    --card-description-color-dark: #000000;
    --card-description-color-light: var(--gray-darker-color);
    --card-freestyle-description-color: #222731;
    --card-body-background: #ffffff;
    --card-body-padding: 1rem 1rem 1rem 1rem;
    --card-spacing-sm: 1rem;
    --card-spacing-xs: 0.5rem;
    --card-spacing-lg: 1.5rem;
    --card-link-line-height: 140%;
    --card-width: 255px;
    --card-width-mobile: 100%;
    --card-large-width: 350px;
    --card-large-width-mobile: 100%;
    --card-box-shadow: none;
    --card-body-bg-color: #ffffff;
    --card-border: 1px solid transparent;
    --card-border-radius: 8px;
    --card-media-border-radius: 4px 4px 0 0;
    --card-horizontal-media-border-radius: 4px 0 0 4px;
    --card-horizontal-media-end-border-radius: 0 4px 4px 0;
    --card-horizontal-media-border-radius-rtl: 0 4px 4px 0;
    --card-horizontal-media-end-border-radius-rtl: 4px 0 0 4px;
    --card-overlay-text-color: #009cde;
    --card-overlay-text-left-spacing: 1rem;
    --card-overlay-text-right-spacing: 1rem;
    --card-overlay-text-top-spacing: 1rem;
    --card-color-navy-blue: #002a3a;
    --card-color-ice-blue: #def3fa;
    --card-color-coral-blue: #ade1f3;
    --card-color-snow-gray: #ececeb;
    --card-color-charcoal: #222731;
    --card-color-cerulean-blue: #007db1;
    --card-info-title-font-size: 2rem;
    --card-title-font-weight: 700;
    --card-default-color: #222731;
    --card-border-light: #d9d9d6;
    --card-border-dark: #888b8d;
    --card-default-media-height-sm: 135px;
    --card-information-media-height: 64px;
    --card-information-media-margin: 1.5rem 1.5rem 0;
    --card-information-body-padding: 1.5rem 1.5rem 0.5rem;
    --card-support-media-height: 120px;
    --card-support-image-height: 64px;
    --cards-line-separator-yellow: #ffd100;
    --card-patient-story-media-height: 420px;
    --card-patient-story-media-height-sm: 278px;
    --card-patient-story-width-sm: 278px;
    --card-patient-story-title-font-size-sm: 1.375rem;
    --card-info-title-line-height-sm: 130%;
    --card-patient-story-logo-height: 105px;
    --card-patient-story-link-line-height: 130%;
    --card-patients-label-text-padding: 1rem;
    --card-clickable-border-radius: 20px;
    --card-clickable-media-border-radius: 15px 15px 0 0;
    --card-clickable-media-hover-border-radius: 15px 15px 0 0;
    --card-clickable-title-text-color: #005cb3;
    --card-clickable-description-color: #222731;
    --card-clickable-link-border: 5px solid transparent;
    --card-clickable-link-hover-border: 5px solid #ffffff;
    --card-clickable-body-padding: 1rem 1.5rem 1.5rem 1.5rem;
    --card-clickable-default-link-border: 5px solid #ffffff;
    --card-yellow-link-border: 5px solid #ffd100;
    --card-gray-link-border: 5px solid #f7f7f9;
    --card-accent-yellow-link-border: 5px solid #fff1b2;
    --card-clickable-link-gray-hover-border: 5px solid #f7f7f9;
}

.card {
    position: relative;
    width: 100%;
}
.card [data-js-component="card"] {
    background-color: var(--card-body-background);
}
.card .card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.card:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    -webkit-box-shadow: var(--card-box-shadow);
    box-shadow: var(--card-box-shadow);
    z-index: 0;
}
.card__media {
    height: var(--card-media-height-mobile);
}
@media (min-width: 992px) {
    .card__media {
        height: var(--card-media-height);
    }
}
.card__media {
    border-radius: var(--card-media-border-radius);
    overflow: hidden;
    position: relative;
}
.card__image,
.card .cmp-image__image {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}
.card__body {
    padding: var(--card-body-padding);
    position: relative;
    z-index: 2;
    word-break: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-hyphens: manual;
    hyphens: manual;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
}
.card__body .link__wrapper:not(:has(*)) {
    display: none;
}
.card__body .link {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card__body .link a {
    line-height: var(--card-link-line-height);
}
.card__title {
    color: var(--card-title-color-dark);
    font-weight: var(--card-title-font-weight);
    margin-bottom: 0.5rem;
    font-style: normal;
    letter-spacing: 0.5px;
}
.card__title:empty {
    margin: 0;
}
.card__description {
    color: var(--card-description-color-light);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-style: normal;
}
.card__description:empty {
    margin: 0;
}
.card__description > :last-child {
    margin-bottom: 0 !important;
}
.card--default {
    border-radius: var(--card-border-radius);
}
.card--default .card__media {
    border-radius: var(--card-border-radius);
}
.card--default .card__media .cmp_image--logo img {
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left;
    object-position: left;
    height: 2.62rem;
    top: 0.31rem;
    left: 0.31rem;
}
.card--default .card__body {
    --card-body-padding: var(--global-spacing-16) var(--global-spacing-12);
}
@media (min-width: 992px) {
    .card--default .card__body .card__title {
        line-height: var(--card-title-line-height);
        margin-bottom: 1rem;
    }
}
.card--default .card__body .card__description {
    color: var(--card-freestyle-description-color);
    margin-bottom: 1rem;
    letter-spacing: 0;
}
.card--information {
    border-radius: 8px;
    border: 1px solid var(--card-border-light);
}
.card--information .card__media {
    height: var(--card-information-media-height);
    margin: var(--card-information-media-margin);
}
.card--information .card__media .cmp-image__image {
    width: auto;
}
.card--information .card__body {
    padding: var(--card-information-body-padding);
}
.card--information .card__body .card__title {
    font-size: var(--card-info-title-font-size);
    line-height: var(--card-info-title-line-height);
    margin-bottom: 0.5rem;
}
.card--information .card__body .card__description {
    color: var(--black-color);
    margin-bottom: 0;
}
.card--support {
    border-radius: 8px;
    border: 1px solid var(--card-border-light);
}
.card--support .card__link {
    text-decoration: none;
    display: block;
    height: 100%;
}
.card--support .card__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0.937rem;
}
.card--support .card__media {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    height: var(--card-support-media-height);
    padding-top: 1rem;
}
.card--support .card__media .cmp-image__image {
    height: var(--card-support-image-height);
    -o-object-fit: contain;
    object-fit: contain;
}
.card--support .card__media .card__support-label--text {
    position: absolute;
    bottom: 0.6rem;
    width: 100%;
    text-align: center;
    color: var(--black-color);
    font-weight: var(--card-title-font-weight);
}
.card--support .card__body {
    padding-bottom: 1rem;
}
.card--support .card__body .card__description {
    color: var(--black-color);
}
.card--logo .card__media {
    border-radius: 0;
    border: 1px solid var(--card-border-dark);
    position: relative;
}
.card--logo .card__media:focus-within::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--card-overlay-text-color);
    pointer-events: none;
}
.card--logo .card__media .cmp-image__image {
    -o-object-fit: contain;
    object-fit: contain;
}
.card--logo .card__media .cmp-image__link {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}
.card--logo .card__body {
    --card-body-padding: var(--global-spacing-16) var(--global-spacing-12);
}
.card--patient-story {
    height: auto !important;
}
.card--patient-story .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.card--patient-story .card__media {
    height: auto;
    padding-bottom: 100%;
    width: 100%;
}
.card--patient-story .card__media .cmp-image__image {
    border-radius: 50%;
}
.card--patient-story .cmp_image--logo img {
    position: relative;
    height: var(--card-patient-story-logo-height);
    top: 0;
    display: block;
    width: auto;
}
.card--patient-story .card__body {
    padding: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.card--patient-story .card__body .card__title {
    position: relative;
    padding-top: 1.5rem;
    font-size: var(--card-patient-story-title-font-size-sm);
    line-height: var(--card-info-title-line-height-sm);
}
.card--patient-story .card__body .card__title::after {
    content: "";
    height: 4px;
    background-color: var(--cards-line-separator-yellow);
    position: absolute;
    width: 60px;
    padding: 0;
    bottom: -25px;
    border-radius: 10px;
    left: 0;
}
.card--patient-story .card__body .link__wrapper {
    margin-top: 2rem;
}
.card--patient-story .card__body .link__wrapper .card_label_text {
    padding-top: var(--card-patients-label-text-padding);
    padding-bottom: var(--card-patients-label-text-padding);
    margin-bottom: 0;
}
.card--patient-story .card__body .link a {
    line-height: var(--card-patient-story-link-line-height);
}
@media (min-width: 768px) {
    .card--patient-story .card__body {
        padding-left: 2.25rem;
    }
    .card--patient-story .card__body .card__title {
        font-size: var(--card-info-title-font-size);
        line-height: var(--card-info-title-line-height);
    }
}
.card--clickable-card {
    border-radius: var(--card-clickable-border-radius);
    background-color: rgba(0, 0, 0, 0) !important;
}
.card--clickable-card .card__link {
    background-color: var(--card-body-background);
    border-radius: var(--card-clickable-border-radius);
    display: block;
    height: 100%;
    text-decoration: none;
    border: var(--card-clickable-default-link-border);
}
.card--clickable-card .card__link:hover,
.card--clickable-card .card__link:focus {
    border: var(--card-clickable-link-gray-hover-border);
    border-radius: var(--card-clickable-border-radius);
}
.card--clickable-card .card__link:hover .card__media,
.card--clickable-card .card__link:focus .card__media {
    border-radius: var(--card-clickable-media-hover-border-radius);
}
.container_bg_yellow-curved .card--clickable-card .card__link {
    border: var(--card-yellow-link-border);
}
.container_bg_yellow-curved .card--clickable-card .card__link:hover,
.container_bg_yellow-curved .card--clickable-card .card__link:focus {
    border: var(--card-clickable-link-hover-border);
}
.container_bg_gray .card--clickable-card .card__link {
    border: var(--card-gray-link-border);
}
.container_bg_gray .card--clickable-card .card__link:hover,
.container_bg_gray .card--clickable-card .card__link:focus {
    border: var(--card-clickable-link-hover-border);
}
.container_bg--accent-yellow .card--clickable-card .card__link {
    border: var(--card-accent-yellow-link-border);
}
.container_bg--accent-yellow .card--clickable-card .card__link:hover,
.container_bg--accent-yellow .card--clickable-card .card__link:focus {
    border: var(--card-clickable-link-hover-border);
}
.card--clickable-card .card__link .card__media {
    border-radius: var(--card-clickable-media-border-radius);
}
.card--clickable-card .card__link .card__body {
    padding: var(--card-clickable-body-padding);
}
.card--clickable-card .card__link .card__body .card__title {
    color: var(--card-clickable-title-text-color);
    text-decoration: underline;
}
.card--clickable-card .card__link .card__body .card__description {
    color: var(--card-clickable-description-color);
}